
body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  text-align: justify;
  color: #404040;
  background-color: #CACBB1;
  }

p {
  text-align: justify;
  text-indent: 50px;
  }
a:link {  /*unvisited link*/
  text-decoration: none;
  color: #ff0000;
  }
a:visited {  /*visited link*/
  text-decoration: none;
  color: #ff5050;
  }
a:active {  /*now active link*/
  text-decoration: underline;
  color: #ff8000;
  }
a:hover {  /*link below mouse*/
  color: #ffffff;
  background-color: #ff0000;
  }

//--------------------- headings --------------------

h1 {
  font-size: 150%;
  color: #000000;
  font-weight: bold;
  }
h2 {
  font-size: 130%;
  color: #404040;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 30px;
  }
h3 {
  font-size: 110%;
  color: #000000;
  font-weight: bold;
  }
h4 {
  font-size: 100%;
  color: #000000;
  font-weight: bold;
  }
h5 {
  font-size: 90%;
  color: #000000;
  font-weight: bold;
  }
dt {
  color: #000080;
  font-weight: bold;
  }

.whitebox {
  background-color: eaebd1;
  }

